
.color{
  background-color: #ff7d00;
  background-color: #f7b105;
  background-color: #012e46;
  background-color: #2099b6;
  background-color: #88c3dc;
  background-color: #afd7cd;
  background-color: #6d9c9f;
  background-color: #8389af;
  background-color: #a786af;
  background-color: #edadd1;
  background-color: #f4dbfa;
  background-color: #1c1432;
}

.imagen img{
  width: 8%;
  padding: 11px;
}
.imagen{
  width: 65%;
  float: left;
}

.routes{
  background-color: transparent;
  padding: 35px;
}
.routes a{
  border: 2px solid #ffffff;
  padding: 7px 15px;
  text-decoration: none;
  color: #fff;
  border-radius: 18px;
  margin-left: 30px;
  font-size: 20px;
}
.routes a:hover{
  background-color: #fff;
  color: #1c1432;
  font-weight: 500;
}
.user{
  border: none;
  font-size: 18px;
  color: white;
  padding: 0px;
  cursor: pointer;
  background-color: transparent;
}
i{
  margin-left: 10px;
}





/* Escritorio extra grande */
@media only screen and (min-width: 1200px)and (max-width: 1390px){

  
}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

  .imagen img{
    width: 100%;
    padding: 11px;
  }
  .imagen{
    width: 5%;
    float: left;
  }
  
  .routes{
    background-color: transparent;
    padding: 0px;
    padding-top: 30px;
    width: 80%;
    margin-left: 50px;
    text-align: right;
  }
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

  .imagen img{
    width: 100%;
    padding: 11px;
  }
  .imagen{
    width: 8%;
    float: left;
  }
  
  .routes{
    background-color: transparent;
    padding: 0px;
    padding-top: 20px;
    width: 80%;
    margin-left: 50px;
    text-align: right;
  }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 575px){
 
  .imagen img{
    width: 100%;
    padding: 11px;
  }
  .imagen{
    width: 10%;
  }
  
  .routes{
    background-color: transparent;
    padding-top: 20px;
    width: 70%;
    margin-left: 50px;
  }
  .routes a{
    border: 2px solid #ffffff;
    padding: 7px 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 18px;
    margin-left: 30px;
    font-size: 12px;
  }
  .routes a:hover{
    background-color: #fff;
    color: #1c1432;
    font-weight: 500;
  }
  .user{
    border: none;
    font-size: 18px;
    color: white;
    padding: 0px;
    cursor: pointer;
    background-color: transparent;
  }
  i{
    margin-left: 5px;
  }

}

