.Back{
  padding-top: 400px;
  padding-bottom: 400px;
  background-size: cover;
  background-position-y: center;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0) 0%, rgba(1, 1, 1, 0) 100%), url(../../../../assets/img/Recurso.png);
  color: white;
  
  display: flex;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  position: absolute;
  z-index: -100;
  margin-top: -95px;
}

.btn{
  border: none;
  padding: 10px 55px;
  font-size: 16px;
  background-image: linear-gradient(to left,rgba(37, 53, 157, 0.979) 0%, rgb(105, 5, 133) 100%);
  border-radius: 50px;
  color: white;
  position: absolute;
  margin-top: 400px;
  left: 0;
  margin-left: 70px;
}



/* Escritorio extra grande */
@media only screen and (min-width: 1200px)and (max-width: 1390px){
  .Back{
    padding-bottom: 400px;
    background-size: cover;
    background-position-y: center;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0) 0%, rgba(1, 1, 1, 0) 100%), url(../../../../assets/img/Recurso.png);
    z-index: -100;
    margin-top: -105px;
  }
  
}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

  .Back{
    padding-top: 400px;
    padding-bottom: 400px;
    
    margin-top: -150px;
  }
  
  .btn{
    border: none;
    padding: 10px 55px;
    font-size: 16px;
    background-image: linear-gradient(to left,rgba(37, 53, 157, 0.979) 0%, rgb(105, 5, 133) 100%);
    border-radius: 50px;
    color: white;
    position: absolute;
    margin-top: 400px;
    left: 0;
    margin-left: 70px;
  }

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

  
  .Back{
    padding-top: 400px;
    padding-bottom: 400px;
    background-position-y: center;
    margin-top: -200px;
  }
  
  .btn{
    border-radius: 50px;
    color: white;
    position: absolute;
    margin-top: 350px;
    left: 0;
    margin-left: 70px;
  }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
  
  .Back{
    padding-top: 400px;
    padding-bottom: 400px;
    
    margin-top: -200px;
  }
  
  .btn{
    margin-top: 350px;
  }
}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 575px){
  
  .Back{
    padding-top: 400px;
    padding-bottom: 400px;
    
    margin-top: -200px;
  }
  
  .btn{
    margin-top: 350px;
  }

}

