.avatar-IMG{
  width: 30%;
  margin: 0 35%;
  margin-bottom: 20px;
}

.avatar{
  width: 100%;
  border-radius: 50%;
  padding: 2px;
  background-color: antiquewhite;
  margin: 10px;
  text-align: center;
}

form, .losForos{
  width: 50%;
  margin: 0 25%;
  background-color: #f7f7f7;
  padding: 35px;
}

.ancho{
  width: 100%;
}

.row{
  margin-bottom: 20px;
}

.user{
  text-decoration: none;
  font-size: 15px;
  padding: 20px;
  background-image: linear-gradient(to left,rgba(34, 40, 84, 0.979) 0%, rgb(141, 3, 175) 100%);
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  background-color: #ffffff;
}